#logo {
    font-family: 'Faster One', cursive;
    font-size : 2em;
}

#train-logo, #sign-out-button {
    font-size : 3em;
}

.logo {
    font-family: 'Amaranth', sans-serif;
}

#sign-in-button {
    margin-left: 10px;
    color: inherit;
}

.mdl-button .material-icons {
    margin-top: -2px;
}
.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
    margin-top: 0;
}


#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0288D1;
    background: radial-gradient(circle, #039BE5, #01579b);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}